<div *ngIf="data">
  <h2>{{title}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Request ID</th>
        <th scope="col">Warn</th>
        <th scope="col">Error</th>
        <th scope="col">Scope</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{item.userId}}</td>
        <td>{{item.requestId}}</td>
        <td>{{item.warn}}</td>
        <td>{{item.error}}</td>
        <td>{{item.scope}}</td>
        <td>{{item.timestamp | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>